  

 h1{
	color: blue; 
}

h4{
	border: 2px solid blue;
	background-color: rgb(67, 45, 90);
	color: whitesmoke;
}



.box{
	width: 80px;
	height: 70px;
	background-color: limegreen;
}

.do{
	width: 80px;
	height: 70px;
	background-color: mediumpurple;
}